{% extends "base.html" %}

{% block content %}
<h1>Добавить Автора</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.author_name.label }}<br>
        {{ form.author_name(class="form-control", type="author_name") }}<br>
        {% for error in form.author_name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
     <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}